.directions {
  width: 100%;
  padding: 0 5px;
  margin-top: 50px;
}

.directions__item {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.directions__heading {
  font-weight: 600;
  font-size: clamp(24px, 3.5vw, 54px);

  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: var(--black-color);
}

.directions__grid {
  display: none;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.directions__grid-mobile {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.directions__mobile-card {
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    max-height: 60px;
  }

  .directions__toggle-button img {
    min-width: 36px;
    min-height: 36px;
  }

  &.directions__mobile-card--expanded {
    min-height: 280px;
    .directions__mobile-card-bgimage {
      object-fit: cover;
      width: 100%;
      min-height: 280px;
    }
  }
}

.directions__mobile-card-content {
  position: absolute;
  display: flex;

  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 60px;

  background-color: rgb(45, 54, 83, 0.6);
  padding: 12px 7px;

  font-weight: 600;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0;
  color: white;

  .directions__toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .directions__mobile-inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &.directions__mobile-card-content--expanded {
    max-height: 100%;
    display: flex;
    height: 99%;
    flex-direction: column;
    row-gap: 3px;
  }
}



.directions__mobile-card-title {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0;
}

.directions__mobile-card-desc {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 156%;
  letter-spacing: 0;

  &.directions__mobile-card-desc--expanded {
    display: block;
  }
}

.directions__card {
  position: relative;
  max-height: 260px;
  overflow: hidden;
  transition: all 0.7s ease;

  .directions__card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease;
  }
}

.directions__card-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  row-gap: 20px;

  background-color: rgb(45, 54, 83, 0.6);
  min-height: 80px;

  padding: 31px 20px;

  font-weight: 600;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0;
  color: white;

  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.directions__card:hover .directions__card-content {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(45, 54, 83, 0.9);
  padding-bottom: 30px;
}

.directions__card-description {
  display: none;

  max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  text-align: left;
}


.directions__card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
}

.directions__card:hover .directions__card-image {
  transform: scale(1.05);
  transition: transform 0.7s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.directions__card:hover .directions__card-description {
  display: block;
  animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}